[submodule "samples-aux/vs2013/thirdparty"]
	path = samples-aux/vs2013/thirdparty
	url = git@bitbucket.org:orbicsoft/sdk-win-thirdparty-bin.git
[submodule "vendor/shinyprofiler"]
	path = vendor/shinyprofiler
	url = git@bitbucket.org:orbicsoft/shinyprofiler.git
[submodule "vendor/openni-android"]
	path = vendor/openni-android
	url = git@bitbucket.org:orbicsoft/openni-android-binaries.git
[submodule "android/sensekitapktest"]
	path = android/sensekitapktest
	url = git@bitbucket.org:orbicsoft/sensekitapktest.git
[submodule "vendor/catch"]
	path = vendor/catch
	url = git@github.com:philsquared/Catch.git
